/* You can add custom CSS here if needed, but for this project, we'll rely on Tailwind CSS. */

#typing-text {
  /* This ensures the cursor animation is visible */
  border-right: 3px solid white; 
  white-space: nowrap; /* Prevents text wrap during typing */
  overflow: hidden; /* Hides the text overflow */
  display: inline-block;
  /* Adjust cursor color to match the white name/text */
}

/* Blinking Cursor Animation */
 @keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Apply the blinking animation */
.typing-cursor {
  animation: blink 0.75s step-end infinite;
}